
header{
    background: url(../images/aaron-burson-yihqdpsk9ji-unsplash.jpg);
    background-position: center;
    background-size: cover;
    margin: 0 0;
    padding-top: 300px;
}


.intro{
    background-color: #E6D5BE;
    margin: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 250px;
}


