
.intro{
    background: url(../images/aaron-burson-yihqdpsk9ji-unsplash.jpg);
    background-position: center;
    background-size: cover;
    padding: 20px;
}
.intro h1{
    padding-top: 20px;
    font-size: 2.5rem;
}
.intro div{
    background-color: white;
    padding: 10px;
    opacity: .8;
}



/* Media Query for medium + screens */
@media only screen and (min-width: 32.5em) {
    .intro h1{
        padding-top: 150px;
    }
}
