.intro {
    display: flex;
    flex-direction: column;
}
header{
    background: url(../images/aaron-burson-withgrass.png);
    background-position: center;
    background-size: cover;
    padding: 240px;
}
header h1{
padding-top: 30px;
 padding-left: 20px;
}
header h2{
    padding-left: 20px;
}
.intro h1{
    font-size: 2.5rem;
}
.intro div{
    background-color: white;
    padding: 10px;
    opacity: .8;
}
div .summary, div .preamble{
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: #C4EC76;
}

div .summary{
    margin-top: 1rem;
    padding-bottom: 20px;
}







/* Media Query for medium + screens */
@media only screen and (min-width: 32.5em) {
    
}
