// VARIABLES
// $color-1: #78A83B; // green - rgb(120, 168, 59)
// $color-2: #DC9A76; // peach - rgb(220, 154, 118)
// $color-3: #E6D5BE; // light gray - rgb(230, 213, 190)
// $color-4: #302A26; // dark gray - rgb(48, 42, 38)
// $color-5: #C4EC76; // light green - rgb(196, 236, 118)

.main {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 1em;
    justify-items: center;
    align-items: center;
}
.main {
    background-color: green;
    // background-color: rgb(220,154,118);
    margin: 1rem;
    padding: 1rem;
}
// Background
// #zen-explanation {
//     background: url(../images/rene-deanda-vwvnULpk8MM-unsplash.jpg);
//     background-position: center;
//     background-size: cover;
//     padding: 20px;
// }
// #zen-explanation > h3 {
//     padding-top: 2rem;
//     font-size: 2.5rem;
// }
// #zen-explanation p {
//     background-color: white;
//     padding: 1rem;
//     opacity: .5;
// } 
// banner
// #zen-explanation {
//     margin: 0;
//     padding: 0;
//     font-family: sans-serif;
//     height: 40vh;
//     background: url(../images/rene-deanda-vwvnULpk8MM-unsplash.jpg);
//     background-size: cover;
//     background-repeat: no-repeat;
//     border-top: 10px solid black;
//     border-bottom: 5px solid black;
//   }
//   #zen-explanation > h3 {
//     position: relative;
//     top: 50%;
//     transform: translateY(-50%);
//     margin: 0;
//     padding: 0;
//     text-align: center;
//     font-size: 8em;
//     color: #fff;
//     text-transform: uppercase;
//     text-shadow: 0 5px 10px rgba(0,0,0,1);
//     mix-blend-mode: overlay;
//     box-shadow: 0 5px 10px rgba(0,0,0,1);
//     background: rgba(0,0,0,.2);
//   }


// Background
// .explanation {
//     background: ;
// }
// Hover Effect
// .explanation > h1:hover {
//     background-image: image();
//   }

footer {
    width: 100%;
    height: 4rem;
    padding: 1rem;
    background-color: rgba(48,42,38,0.5);
    font-size: 1.2rem;
    text-align: center;
}