// VARIABLES
 $color-1: #78A83B; // green - rgb(120, 168, 59)
 $color-2: #DC9A76; // peach - rgb(220, 154, 118)
 $color-3: #E6D5BE; // light gray - rgb(230, 213, 190)
 $color-4: #302A26; // dark gray - rgb(48, 42, 38)
 $color-5: #C4EC76; // light green - rgb(196, 236, 118)

.main {
  display: grid;
  grid-template-columns: auto;
  gap: 1rem;
  margin: 1rem;
  }
.main {
    background-color: $color-3;
    padding: 1rem;
}
// Explanation
#zen-explanation {
    background: url(../images/man-sitting-on-concrete-block-w800-h533-lowres.jpg);
    background-position: center;
    background-size: cover;
    padding: 2rem;
    opacity: .7;
}
#zen-explanation > h3 {
    color: black;
    text-align: center;
}
#zen-explanation > p {
    color: black;
    padding: 20px;
    // border-radius: 25px;
    background-color: white;
    opacity: .9;
} 

// Participation
#zen-participation {
    background: url(../images/purple-daisy-w800-h600-lowres.jpg);
    background-position: center;
    background-size: cover;
    padding: 2rem;
}
#zen-participation > h3 {
    color: black;
    text-align: center;
}
#zen-participation > p {
    color: black;
    padding: 20px;
    // border-radius: 25px;
    background-color: white;
    opacity: .9;
}

// benefits
#zen-benefits {
    position: relative;
    background: url(../images/steffi-pereira-DsDaET_OlCw-unsplash-w800-h533-lowres.jpg);
    background-position: center;
    background-size: cover;
    padding: 2rem;
    height: 300px;
}
#zen-benefits > h3 {
    display: block;
    text-align: center;
    color: black;
}
#zen-benefits > p {
    display: none;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    margin-left:-100%;
    transition: all .4s ease;
  }
#zen-benefits:hover > h3 {
    display: none;
  }
#zen-benefits:hover > p {
    display: block;
    color: white;
    background-color: #302A26;
    opacity: .6;
    margin-right: 2rem;
    margin-left: 0;
    padding: 1rem;
    cursor:pointer;
    transition: all .4s ease;
  }

// Requirements
#zen-requirements {
    background: url(../images/keytion-rNoHD6BoQbo-unsplash-w800-h800-lowres.png);
    background-position: center;
    background-size: cover;
    padding: 2rem;
    opacity: .7;
}
#zen-requirements > h3 {
    color: black;
    text-align: center;
}
#zen-requirements > p {
    color: black;
    padding: 20px;
    // border-radius: 25px;
    background-color: white;
    opacity: .9;
}
#zen-requirements > p:nth-last-child(1) {
margin-bottom: 24rem;
}

// Footer
footer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(2rem, 60px));
    gap: 1rem;
    height: 200px;
    justify-content: center;
    background: url(../images/px-visnu-deva-WZBSRWPKBDw-unsplash-w800-h400-lowres.jpg);
    background-position-y: center;
    background-size: cover;
    padding: 2rem;
}
footer > a {
    color: white;
    text-align: center;
    padding: 1rem;
    background-color: #302A26;
    opacity: .8;
} 