// .main {
//     grid-row-start: 3;
//     grid-row-end: 11;
//     grid-column-start: 1;
//     grid-column-end: 4;
//   }

.main {
    display: grid;
    grid-template-rows: repeat(10, 10%);
    grid-template-columns: 3fr;
    grid-gap: 1em;
    justify-items: center;
    align-items: center;
}

.explanation {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
}

.participation {
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 4;
}

.benefits {
    grid-row-start: 5;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 4;
}

.requirements {
    grid-row-start: 7;
    grid-row-end: 9;
    grid-column-start: 1;
    grid-column-end: 4;
}

.footer {
    grid-row-start: 7;
    grid-row-end: 9;
    grid-column-start: 1;
    grid-column-end: 4;
}