.main {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 1em;
  justify-items: center;
  align-items: center; }

.main {
  background-color: #dc9a76;
  margin: 1rem;
  padding: 1rem; }

#zen-explanation {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 40vh;
  background: url(images/rene-deanda-vwvnULpk8MM-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-top: 10px solid black;
  border-bottom: 5px solid black; }

#zen-explanation > h3 {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 8em;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0 5px 10px black;
  mix-blend-mode: overlay;
  box-shadow: 0 5px 10px black;
  background: rgba(0, 0, 0, 0.2); }

footer {
  width: 100%;
  height: 4rem;
  padding: 1rem;
  background-color: rgba(48, 42, 38, 0.5);
  font-size: 1.2rem;
  text-align: center; }

.intro {
  background: url(../images/aaron-burson-yihqdpsk9ji-unsplash.jpg);
  background-position: center;
  background-size: cover;
  padding: 20px; }

.intro h1 {
  padding-top: 20px;
  font-size: 2.5rem; }

.intro div {
  background-color: white;
  padding: 10px;
  opacity: .8; }

/* Media Query for medium + screens */
@media only screen and (min-width: 32.5em) {
  .intro h1 {
    padding-top: 150px; } }
.sidebar {
  background: #E6D5BE;
  padding: 3em; }

.select, .archives, .resources {
  color: #78A83B;
  text-transform: uppercase; }

div .design-selection nav ul li, .design-archives nav ul li, .zen-resources nav ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin: 0 0 0 -1em; }
div .design-selection ul li a, .design-archives ul li a, .zen-resources ul li a {
  text-decoration: none;
  color: #302A26; }

.design-name {
  color: #302A26;
  text-transform: uppercase;
  font-size: 1.1em; }

.designer-name {
  font-style: italic; }

.designer-name::after {
  line-height: 80%; }

.design-name::after {
  content: '\A';
  white-space: pre; }

body {
  background: white;
  font-family: 'Gothic A1';
  margin: 0;
  padding: 0; }

.page-wrapper {
  display: flex;
  flex-direction: column; }

/* Media Query for medium + screens */
@media only screen and (min-width: 32.5em) {
  .page-wrapper {
    display: grid;
    grid-template-rows: repeat(10, 10%);
    grid-template-columns: repeat(4, 1fr);
    align-items: center; }

  .intro {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 5; }

  .main {
    grid-row-start: 3;
    grid-row-end: 11;
    grid-column-start: 1;
    grid-column-end: 4; }

  .sidebar {
    grid-row-start: 3;
    grid-row-end: 11;
    grid-column-start: 4;
    grid-column-end: 5; } }
