@import 'main';
@import 'intro';
@import 'sidebar';

// VARIABLES
$color-1: #78A83B; // green - rgb(120, 168, 59)
$color-2: #DC9A76; // peach - rgb(220, 154, 118)
$color-3: #E6D5BE; // light gray - rgb(230, 213, 190)
$color-4: #302A26; // dark gray - rgb(48, 42, 38)
$color-5: #C4EC76; // light green - rgb(196, 236, 118)
$font-bodycopy: 'Gothic A1';

body { 
  background: white;
  font-family: 'Gothic A1';
	margin: 0; 
	padding: 0;
  }
  // display flex *********************
  .page-wrapper {
    display: flex;
    flex-direction: column;
  }

/* Media Query for medium + screens */
@media only screen and (min-width: 32.5em) {
.page-wrapper {
display: grid;
grid-template-rows: repeat(10, 10%);
grid-template-columns: repeat(4, 1fr);
align-items: center;
}

.intro {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 5;
}
.main {
  grid-row-start: 3;
  grid-row-end: 11;
  grid-column-start: 1;
  grid-column-end: 4;
}
.sidebar {
  grid-row-start: 3;
  grid-row-end: 11;
  grid-column-start: 4;
  grid-column-end: 5;
}
}
// *********************************
