@import url("https://fonts.googleapis.com/css?family=Gothic+A1|Uncial+Antiqua&display=swap");
.main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  gap: 1rem;
  margin: 1rem;
}

.main {
  background-color: #dc9a76;
  padding: 1rem;
}

#zen-explanation {
  background: url(../images/man-sitting-on-concrete-block-w800-h533-lowres.jpg);
  background-position: center;
  background-size: cover;
  padding: 2rem;
}

#zen-explanation > h3 {
  color: white;
  font-size: 2.5rem;
  font-weight: 900;
  text-align: left;
  border-bottom: 2px solid white;
}

#zen-explanation > p {
  color: black;
  font-weight: 900;
  padding: 1rem;
  font-size: 1.3rem;
  background-color: white;
  opacity: .7;
  margin: 0;
}

#zen-participation {
  background: url(../images/purple-daisy-w800-h600-lowres.jpg);
  background-position: center;
  background-size: cover;
  padding: 2rem;
}

#zen-participation > h3 {
  color: white;
  font-size: 2.5rem;
  font-weight: 900;
  text-align: left;
  border-bottom: 2px solid white;
}

#zen-participation > p {
  font-size: 1.3rem;
  font-weight: 900;
  padding: 1rem;
  text-align: left;
  color: black;
  background-color: white;
  opacity: .7;
  margin: 0;
}

#zen-benefits {
  position: relative;
  background: url(../images/steffi-pereira-DsDaET_OlCw-unsplash-w800-h533-lowres.jpg);
  background-position: center;
  background-size: cover;
  padding: 2rem;
  height: 300px;
}

#zen-benefits > h3 {
  display: block;
  text-align: left;
  color: white;
  font-size: 2.5rem;
  font-weight: 900;
  border-bottom: 2px solid white;
}

#zen-benefits > p {
  display: none;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  margin-left: -100%;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

#zen-benefits:hover > h3 {
  display: none;
}

#zen-benefits:hover > p {
  display: block;
  color: black;
  font-weight: 900;
  background-color: white;
  opacity: .7;
  font-size: 1.3rem;
  margin-right: 2rem;
  margin-left: 0;
  padding: 1rem;
  cursor: pointer;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

#zen-requirements {
  background: url(../images/keytion-rNoHD6BoQbo-unsplash-w800-h800-lowres.jpg);
  background-position: center;
  background-size: cover;
  padding: 2rem;
}

#zen-requirements > h3 {
  color: white;
  font-size: 2.5rem;
  font-weight: 900;
  text-align: left;
  border-bottom: 2px solid white;
}

#zen-requirements > p {
  font-size: 1.3rem;
  font-weight: 900;
  padding: 1rem;
  text-align: left;
  color: black;
  background-color: white;
  opacity: .7;
  margin: 0;
}

#zen-requirements > p:nth-last-child(1) {
  margin-bottom: 24rem;
}

footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(5rem, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));
  -ms-grid-rows: (minmax(2rem, 60px))[auto-fill];
      grid-template-rows: repeat(auto-fill, minmax(2rem, 60px));
  gap: 1rem;
  height: 200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url(../images/px-visnu-deva-WZBSRWPKBDw-unsplash-w800-h400-lowres.jpg);
  background-position-y: center;
  background-size: cover;
  padding: 2rem;
}

footer > a {
  color: white;
  text-align: center;
  font-weight: 900;
  padding: 1rem;
  font-size: 1.2rem;
  background-color: #302A26;
  opacity: .8;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header {
  background: url(../images/aaron-burson-withgrass.png);
  background-position: center;
  background-size: cover;
  padding: 40px;
}

header h1 {
  padding-top: 20px;
  padding-left: 20px;
}

header h2 {
  padding-left: 20px;
}

.intro h1 {
  font-size: 2.5rem;
}

.intro div {
  background-color: white;
  padding: 10px;
  opacity: .8;
}

div .summary, div .preamble {
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: #C4EC76;
}

div .preamble {
  padding-top: 20px;
}

div .summary {
  margin-top: 1rem;
  padding-bottom: 20px;
}

/* Media Query for medium + screens */
@media only screen and (min-width: 32.5em) {
  .intro h1 {
    padding-top: 150px;
  }
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sidebar {
  background: #E6D5BE;
  padding: 3em;
  margin-top: -50px;
  z-index: -100;
  margin-right: 15px;
}

.select, .archives, .resources {
  color: #78A83B;
  text-transform: uppercase;
}

div .design-selection nav ul li, .design-archives nav ul li, .zen-resources nav ul li {
  list-style-type: none;
  text-decoration: none;
  margin: 0 0 0 -1em;
  color: #302A26;
  line-height: .3;
  padding: 10px;
}

div .design-selection ul li a, .design-archives ul li a, .zen-resources ul li a {
  text-decoration: none;
}

.design-name {
  color: #78A83B;
  text-transform: uppercase;
  font-size: 1.1em;
  line-height: 2em;
  font-weight: bold;
}

.designer-name {
  color: #302A26;
  font-style: italic;
  line-height: 1em;
}

.designer-name::after {
  line-height: 80%;
}

.design-name::after {
  content: '\A';
  white-space: pre;
}

body {
  background: white;
  font-family: "Gothic A1", sans-serif;
  margin: 0;
  padding: 0;
}

p {
  font-family: "Gothic A1", sans-serif;
}

h1, h2, h3 {
  font-family: "Uncial Antiqua", cursive;
}

.page-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* Media Query for medium + screens */
@media only screen and (min-width: 32.5em) {
  .page-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (10%)[10];
        grid-template-rows: repeat(10, 10%);
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
  .intro {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 5;
  }
  .main {
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 11;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
  }
  .sidebar {
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 11;
    -ms-grid-column: 4;
        grid-column-start: 4;
    grid-column-end: 5;
  }
}
/*# sourceMappingURL=style.css.map */