.main {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 1em;
  justify-items: center;
  align-items: center; }

.main {
  background-color: #dc9a76;
  margin: 1rem;
  padding: 1rem; }

footer {
  width: 100%;
  height: 4rem;
  padding: 1rem;
  background-color: rgba(48, 42, 38, 0.5);
  font-size: 1.2rem;
  text-align: center; }

header {
  background: url(../images/aaron-burson-yihqdpsk9ji-unsplash.jpg);
  background-position: center;
  background-size: cover;
  padding: 0;
  margin: 0; }

.intro {
  background-color: #E6D5BE;
  padding: 1rem; }

html {
  margin: 0;
  padding: 0; }

body {
  font: 75% georgia, sans-serif;
  line-height: 1.88889;
  background: white;
  margin: 0;
  padding: 0; }

.page-wrapper {
  display: grid;
  grid-template-rows: repeat(100, 1%);
  grid-template-columns: 1fr;
  grid-gap: .1rem;
  justify-items: center;
  align-items: center; }

.intro {
  grid-row-start: 1;
  grid-row-end: 16;
  grid-column-start: 1;
  grid-column-end: 2; }

.sidebar {
  grid-row-start: 16;
  grid-row-end: 27;
  grid-column-start: 1;
  grid-column-end: 2; }

.main {
  grid-row-start: 27;
  grid-row-end: 100;
  grid-column-start: 1;
  grid-column-end: 2; }

/* Media Query for medium + screens */
@media only screen and (min-width: 32.5em) {
  .page-wrapper {
    display: grid;
    grid-template-rows: repeat(10, 10%);
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center; }

  .intro {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 5; }

  .main {
    grid-row-start: 3;
    grid-row-end: 11;
    grid-column-start: 1;
    grid-column-end: 4; }

  .sidebar {
    grid-row-start: 3;
    grid-row-end: 11;
    grid-column-start: 4;
    grid-column-end: 5; } }
