.main {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 1em;
  justify-items: center;
  align-items: center; }

.main {
  background-color: #dc9a76;
  margin: 1rem;
  padding: 1rem; }

footer {
  width: 100%;
  height: 4rem;
  padding: 1rem;
  background-color: rgba(48, 42, 38, 0.5);
  font-size: 1.2rem;
  text-align: center; }

header {
  background: url(../images/aaron-burson-yihqdpsk9ji-unsplash.jpg);
  background-position: center;
  background-size: cover;
  margin: 0 0; }

.intro {
  background-color: #E6D5BE;
  margin: 1rem;
  padding-right: 1rem;
  padding-left: 1rem; }

/* Media Query for medium + screens */
@media only screen and (min-width: 32.5em) {
  header {
    padding-top: 300px; }

  .intro {
    padding-top: 250px; } }
.sidebar {
  background: #E6D5BE;
  padding: 3em; }

.select, .archives, .resources {
  color: #78A83B;
  text-transform: uppercase; }

div .design-selection nav ul li, .design-archives nav ul li, .zen-resources nav ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin: 0 0 0 -1em; }
div .design-selection ul li a, .design-archives ul li a, .zen-resources ul li a {
  text-decoration: none;
  color: #302A26; }

.design-name {
  color: #302A26;
  text-transform: uppercase;
  font-size: 1.1em; }

.designer-name {
  font-style: italic; }

.designer-name::after {
  line-height: 80%; }

.design-name::after {
  content: '\A';
  white-space: pre; }

body {
  background: white;
  font-family: 'Gothic A1';
  margin: 0;
  padding: 0; }

.page-wrapper {
  display: flex;
  flex-direction: column; }

/* Media Query for medium + screens */
@media only screen and (min-width: 32.5em) {
  .page-wrapper {
    display: grid;
    grid-template-rows: repeat(10, 10%);
    grid-template-columns: repeat(4, 1fr);
    align-items: center; }

  .intro {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 5; }

  .main {
    grid-row-start: 3;
    grid-row-end: 11;
    grid-column-start: 1;
    grid-column-end: 4; }

  .sidebar {
    grid-row-start: 3;
    grid-row-end: 11;
    grid-column-start: 4;
    grid-column-end: 5; } }
