.main {
  display: grid;
  grid-template-columns: auto;
  gap: 1rem;
  margin: 1rem; }

.main {
  background-color: #dc9a76;
  padding: 1rem; }

#zen-explanation {
  background: url(../images/man-sitting-on-concrete-block-near-waiting-shed-1855379.jpg);
  background-position: center;
  background-size: cover;
  padding: 2rem; }

#zen-explanation > h3 {
  color: white;
  font-size: 2.5rem;
  font-weight: 900;
  text-align: center;
  border-bottom: 2px solid white; }

#zen-explanation > p {
  color: black;
  font-weight: 900;
  padding: 1rem;
  font-size: 1.2rem;
  background-color: #78A83B;
  opacity: .8; }

#zen-participation {
  background: url(../images/purple-daisy.jpg);
  background-position: center;
  background-size: cover;
  padding: 2rem; }

#zen-participation > h3 {
  color: white;
  font-size: 2.5rem;
  font-weight: 900;
  text-align: center;
  border-bottom: 2px solid white; }

#zen-participation > p {
  font-size: 1.2rem;
  font-weight: 900;
  padding: 1rem;
  text-align: left;
  color: white;
  background-color: #302A26;
  opacity: .7; }

#zen-benefits {
  position: relative;
  background: url(../images/steffi-pereira-DsDaET_OlCw-unsplash.jpg);
  background-position: center;
  background-size: cover;
  padding: 2rem;
  height: 300px; }

#zen-benefits > h3 {
  display: block;
  text-align: center;
  color: white;
  font-size: 4rem;
  font-weight: 900; }

#zen-benefits > p {
  display: none;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  margin-left: -100%;
  transition: all .4s ease; }

#zen-benefits:hover > h3 {
  display: none; }

#zen-benefits:hover > p {
  display: block;
  color: white;
  font-weight: 900;
  font-size: 1.2rem;
  background-color: #302A26;
  opacity: .6;
  font-size: 1.3rem;
  margin-right: 2rem;
  margin-left: 0;
  padding: 1rem;
  cursor: pointer;
  transition: all .4s ease; }

#zen-requirements {
  background: url(../images/keytion-rNoHD6BoQbo-unsplash.jpg);
  background-position: center;
  background-size: cover;
  padding: 2rem; }

#zen-requirements > h3 {
  color: white;
  font-size: 2.5rem;
  font-weight: 900;
  text-align: center;
  border-bottom: 2px solid white; }

#zen-requirements > p {
  font-size: 1.2rem;
  font-weight: 900;
  padding: 1rem;
  text-align: left;
  background-color: white;
  opacity: .5; }

#zen-requirements > p:nth-last-child(1) {
  margin-bottom: 24rem; }

footer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(2rem, 60px));
  gap: 1rem;
  height: 200px;
  justify-content: center;
  background: url(../images/px-visnu-deva-WZBSRWPKBDw-unsplash.jpg);
  background-position-y: center;
  background-size: cover;
  padding: 2rem; }

footer > a {
  color: white;
  text-align: center;
  font-weight: 900;
  padding: 1rem;
  font-size: 1.2rem;
  background-color: #302A26;
  opacity: .8; }

header {
  background: url(../images/aaron-burson-yihqdpsk9ji-unsplash.jpg);
  background-position: center;
  background-size: cover;
  padding: 40px; }

header h1 {
  padding-top: 20px;
  padding-left: 20px; }

header h2 {
  padding-left: 20px; }

.intro h1 {
  font-size: 2.5rem; }

.intro div {
  background-color: white;
  padding: 10px;
  opacity: .8; }

div .summary, div .preamble {
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 20px;
  background-color: #C4EC76; }

div .summary {
  margin-top: 1rem; }

/* Media Query for medium + screens */
@media only screen and (min-width: 32.5em) {
  .intro h1 {
    padding-top: 150px; } }
.sidebar {
  background: #E6D5BE;
  padding: 3em; }

.select, .archives, .resources {
  color: #78A83B;
  text-transform: uppercase; }

div .design-selection nav ul li, .design-archives nav ul li, .zen-resources nav ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin: 0 0 0 -1em; }
div .design-selection ul li a, .design-archives ul li a, .zen-resources ul li a {
  text-decoration: none;
  color: #302A26; }

.design-name {
  color: #302A26;
  text-transform: uppercase;
  font-size: 1.1em; }

.designer-name {
  font-style: italic; }

.designer-name::after {
  line-height: 80%; }

.design-name::after {
  content: '\A';
  white-space: pre; }

body {
  background: white;
  font-family: "Gothic A1";
  margin: 0;
  padding: 0; }

.page-wrapper {
  display: flex;
  flex-direction: column; }

/* Media Query for medium + screens */
@media only screen and (min-width: 32.5em) {
  .page-wrapper {
    display: grid;
    grid-template-rows: repeat(10, 10%);
    grid-template-columns: repeat(4, 1fr); }

  .intro {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 5; }

  .main {
    grid-row-start: 3;
    grid-row-end: 11;
    grid-column-start: 1;
    grid-column-end: 4; }

  .sidebar {
    grid-row-start: 3;
    grid-row-end: 8;
    grid-column-start: 4;
    grid-column-end: 5; } }
