@import url("https://fonts.googleapis.com/css?family=Gothic+A1|Uncial+Antiqua&display=swap");
.main {
  display: grid;
  grid-template-columns: auto;
  gap: 1rem;
  margin: 1rem; }

.main {
  background-color: #DC9A76;
  padding: 1rem; }

#zen-explanation {
  background: url(../images/man-sitting-on-concrete-block-w800-h533-lowres.jpg);
  background-position: center;
  background-size: cover;
  padding: 2rem; }

#zen-explanation > h3 {
  color: white;
  font-size: 2.5rem;
  font-weight: 900;
  text-align: left;
  border-bottom: 2px solid white; }

#zen-explanation > p {
  color: black;
  font-weight: 900;
  padding: 1rem;
  font-size: 1.2rem;
  background-color: white;
  opacity: .8;
  margin: 0; }

#zen-participation {
  background: url(../images/purple-daisy-w800-h600-lowres.jpg);
  background-position: center;
  background-size: cover;
  padding: 2rem; }

#zen-participation > h3 {
  color: white;
  font-size: 2.5rem;
  font-weight: 900;
  text-align: left;
  border-bottom: 2px solid white; }

#zen-participation > p {
  color: black;
  font-weight: 900;
  padding: 1rem;
  font-size: 1.2rem;
  background-color: white;
  opacity: .8;
  margin: 0; }

#zen-benefits {
  background: url(../images/steffi-pereira-DsDaET_OlCw-unsplash-w800-h533-lowres.jpg);
  background-position: center;
  background-size: cover;
  padding: 2rem; }

#zen-benefits > h3 {
  color: white;
  font-size: 2.5rem;
  font-weight: 900;
  text-align: left;
  border-bottom: 2px solid white; }

#zen-benefits > p {
  color: black;
  font-weight: 900;
  padding: 1rem;
  font-size: 1.2rem;
  background-color: white;
  opacity: .8;
  margin: 0; }

#zen-requirements {
  background: url(../images/keytion-rNoHD6BoQbo-unsplash-w800-h800-lowres.png);
  background-position: center;
  background-size: cover;
  padding: 2rem; }

#zen-requirements > h3 {
  color: white;
  font-size: 2.5rem;
  font-weight: 900;
  text-align: left;
  border-bottom: 2px solid white; }

#zen-requirements > p {
  color: black;
  font-weight: 900;
  padding: 1rem;
  font-size: 1.2rem;
  background-color: white;
  opacity: .8;
  margin: 0; }

#zen-requirements > p:nth-last-child(1) {
  margin-bottom: 24rem; }

footer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(2rem, 60px));
  gap: 4rem;
  height: 300px;
  justify-content: center;
  background: url(../images/visnu-deva-WZBSRWPKBDw-unsplash-w800-h400-lowres-cropped.jpg);
  background-position-y: center;
  background-size: cover;
  padding: 2rem; }

footer > a {
  color: white;
  text-align: center;
  justify-content: center;
  font-weight: 900;
  background-color: #302A26;
  opacity: .8;
  height: 80px;
  width: 80px; }

footer > a:nth-child(1) {
  clip-path: circle(75%);
  transition: clip-path 1s; }

footer > a:nth-child(1):hover {
  color: black;
  clip-path: circle(25%);
  background: orange; }

footer > a:nth-child(2):hover {
  background-color: transparent;
  color: black;
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 80px solid blue; }

footer > a:nth-child(3) {
  clip-path: circle(75%);
  transition: clip-path 1s; }

footer > a:nth-child(3):hover {
  color: black;
  clip-path: circle(25%);
  background: red; }

footer > a:nth-child(4):hover {
  background-color: transparent;
  color: black;
  border-bottom: 50px solid purple;
  border-left: 12.5px solid transparent;
  border-right: 12.5px solid transparent;
  height: 0;
  width: 50px; }

footer > a:nth-child(5) {
  clip-path: circle(75%);
  transition: clip-path 1s; }

footer > a:nth-child(5):hover {
  color: black;
  clip-path: circle(25%);
  background: green; }

.intro {
  display: flex;
  flex-direction: column; }

header {
  background: url(../images/aaron-burson-withgrass.png);
  text-shadow: 3px 3px 10px #000000;
  background-position: center;
  background-size: cover;
  padding: 40px; }

header h1 {
  padding-top: 30px;
  padding-left: 20px;
  color: white; }

header h2 {
  padding-left: 20px;
  color: white; }

.intro h1 {
  font-size: 2.5rem; }

.intro div {
  background-color: white;
  padding: 10px; }

div .summary, div .preamble {
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: #C4EC76; }

div .summary {
  margin-top: 1rem;
  padding-bottom: 20px; }

/* Media Query for medium + screens */
.sidebar {
  display: flex;
  flex-direction: column;
  background: #E6D5BE;
  z-index: -100;
  margin-right: 16px; }

.select {
  color: #78A83B;
  text-transform: uppercase;
  font-size: 1.3em;
  text-shadow: 1px 1px 4px white;
  text-align: center;
  padding: 10px; }

.resources {
  color: white;
  text-transform: uppercase;
  font-size: 1.3em;
  text-align: center;
  padding: .5em;
  margin: 10px; }

.archives {
  color: white;
  text-transform: uppercase;
  font-size: 1.3em;
  text-shadow: 1px 1px #DC9A76;
  text-align: center; }

.design-selection nav ul li {
  color: #302A26;
  list-style-type: none;
  margin: 0 0 0 -2em;
  line-height: .3;
  padding: 10px; }
.design-selection nav ul li a {
  text-decoration: none; }
.design-selection nav ul li a:hover {
  color: white; }

.design-archives {
  background: #DC9A76;
  margin: 8px;
  text-align: center;
  box-shadow: 1px 1px 4px white;
  border: solid 1px white; }
  .design-archives ul {
    list-style-type: none;
    padding: 10px; }
  .design-archives li a {
    color: white;
    text-decoration: none; }
  .design-archives li a:hover {
    color: white; }

.zen-resources {
  background: #78A83B;
  margin: 8px;
  border: 1px solid white;
  box-shadow: 1px 1px 4px white; }
  .zen-resources ul {
    list-style-type: none;
    text-align: center;
    margin-left: -2em; }
  .zen-resources li a {
    text-decoration: none;
    color: white; }
  .zen-resources li a:hover {
    color: white; }

.design-name {
  color: #78A83B;
  text-transform: uppercase;
  font-size: 1.1em;
  line-height: 2em;
  font-weight: bold; }
  .design-name .design-name a:hover {
    color: white; }

.designer-name {
  color: #302A26;
  font-style: italic;
  line-height: 1em; }

.designer-name::after {
  line-height: 80%; }

.design-name::after {
  content: '\A';
  white-space: pre; }

body {
  background: white;
  font-family: "Gothic A1", sans-serif;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4 {
  font-family: "Uncial Antiqua", cursive; }

p {
  font-family: "Gothic A1", sans-serif; }

h1, h2, h3 {
  font-family: "Uncial Antiqua", cursive; }

.page-wrapper {
  display: flex;
  flex-direction: column; }

/* Media Query for medium + screens */
@media only screen and (min-width: 45em) {
  .page-wrapper {
    display: grid;
    grid-template-rows: repeat(10, 10%);
    grid-template-columns: repeat(4, 1fr); }

  .intro {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 5; }

  .main {
    grid-row-start: 3;
    grid-row-end: 11;
    grid-column-start: 1;
    grid-column-end: 4; }

  .sidebar {
    grid-row-start: 3;
    grid-row-end: 11;
    grid-column-start: 4;
    grid-column-end: 5; } }
